h1 {
  color: #008080;
}

h2 {
  color: #ffdf00;
}

.board {
	display: inline-block;
	height: 80%;
	width: 50%;
}

.card {
	background-color: #ffff00;
	border: solid 1px #000;
	border-radius: 10px;
	height: 200px;
	width: 150px;
}

.name {
	color: #ff0000;
}